
  <GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="collections" class="aaa">
      <ng-template tkListItemTemplate let-collection="item">
        <GridLayout backgroundColor="white" margin="15" (tap)="onItemTap(collection)">
          <Image src="https://res.cloudinary.com/dlqxzhifw/image/upload/v1557275523/gj696tvavsvl30jkndxq.png" stretch="aspectFill"></Image>
          <GridLayout verticalAlignment="bottom">
            <FlexboxLayout backgroundColor="#ca5b00" paddingTop="20" paddingBottom="20" paddingLeft="16"
              paddingRight="20">
              <Label id="col-text" [text]="collection.name" class="barNombre"></Label>
            </FlexboxLayout>
          </GridLayout>
        </GridLayout>
      </ng-template>
      <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2">
      </ListViewGridLayout>
    </RadListView>
  </GridLayout>

  <a href="http://chittagongit.com/icon/data-collection-icon-18.html" title="Data Collection Icon #10119"><img
      src="" width="350" /></a>