<TabView
  androidTabsPosition="bottom"
  selectedTabTextColor="white" 
  tabBackgroundColor="#4cdcc6"
  tabTextFontSize="12">
  <StackLayout *tabItem="{title: 'buddy'}">
    <Label text=""></Label>
    <ns-buddies></ns-buddies>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Find Buddy'}">
    <Label text="find buddies"></Label>
    <ns-find-buddy></ns-find-buddy>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Buddy Requests'}">
    <Label text="They wanna be your buddy!"></Label>
    <ns-buddy-requests></ns-buddy-requests>
  </StackLayout>
</TabView>