<TabView
  androidTabsPosition="bottom"
  selectedTabTextColor="white" 
  tabBackgroundColor="cornflowerblue"
  tabTextFontSize="16">
  <StackLayout *tabItem="{title: 'Buddies'}">
    <Label text="here's all your buddies"></Label>
    <ns-buddies></ns-buddies>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Find Buddy'}">
    <Label text="find buddies"></Label>
    <ns-find-buddy></ns-find-buddy>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Buddy Requests'}">
    <Label text="They wanna be your buddy!"></Label>
    <ns-buddy-requests></ns-buddy-requests>
  </StackLayout>
</TabView>