<TabView
  androidTabsPosition="bottom"
  selectedTabTextColor="white" 
  tabBackgroundColor="#4cdcc6"
  tabTextFontSize="12">
  <StackLayout *tabItem="{iconSource: 'res://buds'}">
    <Label text=""></Label>
    <ns-buddies></ns-buddies>
  </StackLayout>
  <StackLayout *tabItem="{iconSource: 'res://search'}">
    <Label text="find buddies"></Label>
    <ns-find-buddy></ns-find-buddy>
  </StackLayout>
  <StackLayout *tabItem="{iconSource: 'res://check'}">
    <Label text="They wanna be your buddy!"></Label>
    <ns-buddy-requests></ns-buddy-requests>
  </StackLayout>
</TabView>