<StackLayout>

    <ns-action-bar title="Buddies!"></ns-action-bar>
    <GridLayout tkExampleTitle tkToggleNavButton>
        <RadListView [items]="users" class="aaa">
            <ng-template tkListItemTemplate let-user="item">
                <StackLayout>
                    <GridLayout verticalAlignment="bottom">
                        <FlexboxLayout backgroundColor="#f6eec4" paddingTop="15" paddingBottom="15" paddingLeft="16"
                        paddingRight="20">
                        <StackLayout >
                            <Button id="col-text" [text]="user.username" (tap)="buddyRequest(user)" ></Button>
                            <Label id="col-text" [text]="user.nativeLanguage.name"></Label>
                            <Label id="col-text" [text]="user.currentLanguage.name"></Label>
                        </StackLayout>    
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>

</StackLayout>