/* Add mobile styles for the component here.  */
#object-button{
  font-size: 18px;
  font-weight: bold;
}

/* FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30;
} */
