

.buddy-message{
  background-color: #f6eec4;
  border-radius: 30px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  word-wrap: normal;
}

.user-message{
  background-color: #4cdcc6;
  border-radius: 30px;
  text-align: right;
  padding: 20px;
}



.buddy-your-chatting-with{
  text-align: center
}

