<ActionBar title="{{buddy.username}}" class="buddy-your-chatting-with"></ActionBar>
<GridLayout rows="*, auto" columns="*">
  <ListView #scroll [items]="messages" class="list-group" row="0" col="0">
    <ng-template let-message="item">
      <StackLayout class="list-group-item">
        <Label horizontalAlignment="right" *ngIf="message.user" text="{{message.user}}" class="user-message"></Label>
        <Label horizontalAlignment="left" *ngIf="message.buddy" text="{{message.buddy}}" class="buddy-message"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
  <StackLayout class="chat-area" row="1" col="0">
    <GridLayout rows="auto" columns="*, auto">
      <TextField [(ngModel)]="chatBox" class="input" row="0" col="0"></TextField>
      <Button text="Send" (tap)="send()" class="btn btn-primary" row="0" col="1"></Button>
    </GridLayout>
  </StackLayout>
</GridLayout>