<RadSideDrawer>
    <StackLayout tkDrawerContent class="drawer-container">
        <Button 
        text="{{language.logout}}" 
        class="btn btn-primary" 
        nsRouterLink="/" 
        [clearHistory]="true" 
        (tap)="onLogout()"></Button>
        <Button 
        text="{{language.collections}}" 
        class="btn btn-primary" 
        nsRouterLink="/landing" 
        (tap)="onLogout()"></Button>
        <Button 
        text="{{language.practice}}",
        class="btn btn-primary",
        nsRouterLink="/practice"
        (tap)="onLogout()"
        ></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>
    

