<RadSideDrawer>
    <StackLayout tkDrawerContent class="drawer-container">
        <Button 
        text="{{language.logout}}" 
        class="btn btn-primary" 
        nsRouterLink="/" 
        [clearHistory]="true" 
        (tap)="onLogout()"></Button>
        <Button 
        text="{{language.collections}}" 
        class="btn btn-primary" 
        nsRouterLink="/landing" 
        (tap)="onClick()"></Button>
        <Button 
        text="{{language.practice}}",
        class="btn btn-primary",
        nsRouterLink="/practice"
        (tap)="onClick()"
        ></Button>
        <Button text="{{language.buddies}}" 
        class="btn btn-primary" 
        (tap)="onClick()" 
        nsRouterLink="/buddies">
        </Button>
        <Button
        text="{{language.switchLanguage}}"
        class="btn btn-primary"
        (tap)="langSelect()"
        ></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>
    
